@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}